nav {
    height: 80px;
    background-color: rgb(19, 111, 216);
}

.logo {
    color: white;
    font-size: 32px;
    font-weight: normal;
}

.logo:hover {
    text-decoration: none;
    color: white;
}

h3 a {
    color: white;
    font-size: 15px;
}

h3 a:hover {
    color: white;
}