.card .card-header .save-btn {
  position: absolute;
  top: 15px;
  right: 20px;
}

.card .card-header {
  font-size: 30px;
}

.title {
  display: inline-block;
  width: 70%;
}

img {
  float: left;
  padding-right: 15px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
}

.itl {
  font-style: italic;
}